h2.text-center.display-4.pb-5 Game Characters

+contentRow("qbob.png", "QBob")
	h3 QBob
	p You control the actions of QBob, a space surveyor, jumping around on asteroids in deep space, preparing them for demolition. A little nervous about his surroundings, and more than a little naive, QBob needs your help to successfully carry out his duties, despite the dangers around him.


+contentRow("ufo.png", "U.F.O.")
	h3
		| Ufo 
		br
		small.text-muted (a.k.a. Top Secret USAF Case XJ-605B5)
	p This alien lifeform is very curious, and not shy, so watch out! It may want to see what QBob looks like with his helmet off!

+contentRow("probe.png", "Probe")
	h3
		| Probe 
		br
		small.text-muted (a.k.a. Top Secret USAF Case FG-874C3)
	p Probe is quite an ingenious alien and has an affinity for mechanical gadgets.  Don't get to close to it and its toys though, or you might be "shocked" by what you see!

+contentRow("roswell.png", "Agent Roswell Coverup", "roswell")
	h3 Agent Roswell Coverup
	p A former FBI agent specializing in UFO reports, Roswell is devoted to his job. Unfortunately, his job is so top secret even he doesn't know what he's doing. Roswell emerges from nowhere and when intimidated, quickly vanishes without a trace. #[strong NOTE: Roswell is the only enemy who won't hurt you if you touch him.]

+contentRow("sideways.png", "Sideways Twins")
	h3
		| Sideways Twins 
		br
		small.text-muted (a.k.a. Top Secret USAF Cases ZT-731K0 &amp; ZT-731K1)
	p What can one say about two disgruntled alien twins who disregard all evidence of gravity and throw silent but lethal tantrums when anyone gets in their way? Not much more than that, really.

+contentRow("meteor.png", "Meteor")
	h3 Meteor
	p Chance of showers today: 100% !  Meteor showers, that is. Be careful! One hit on that Plexiglas helmet and QBob is people pâté!!

+contentRow("sputnik.png", "Sputnik")
	h3 Sputnik
	p
		strong.red Registered version only
		br
		| When it was launched in the late fifties, Sputnik became the first man-made object to be shot into space...if you're not careful it could be the last man-made object you see!

+contentRow("crisis.png", "Crisis")
	h3
		| Crisis 
		br
		small.text-muted (a.k.a. Top Secret USAF Case XM-12TR25)
	strong.red Registered version only
	br
	| Never the socializing type, this alien prefers to hangout away from the bustling crowd. However, be assured that he knows how to handle a long-distance relationship... but watch out, or his C.O.D. "care" packages might make you D.O.A.!

+contentRow("xbob.png", "XBob")
	h3 XBob
	strong.red Registered version only
	br
	| A professional wrestler and "Heavyweight Helmet Cracking" champ hailing from Dimension X, XBob was brought into our universe through a teleporter mishap. He matches QBob in his ability to use #[a(href="#telepads") telepads] but far surpasses him in his capacity for evil. XBob's sole goal in life is to wrestle QBob into submission, which wouldn't be all that bad, except in Dimension X professional wrestling is real!

+contentRow("hubcap.png", "Hubcap")
	h3
		| Hubcap 
		br
		small.text-muted (a.k.a. Top Secret USAF Case ID-444444)
	p
		strong.red Registered version only
		br
		| Having run out of vagrants and untrustworthy loners to use in their experiments, the crew of this vessel have finally turned their efforts towards the governmental leadership of the Earth. Unfortunately, unable to match the "big budget light show" of the cheapest of B-movie flops, they've decided to start by kidnapping Space Surveyors and work their way up to the President when the loan comes through.