h2.text-center.display-4.pb-5 Game Environment

+contentRow("cube.png", "Cubes", "cubes")
	h3 Cubes
	p The asteroids QBob (and you) have been assigned to demolish are divided into small cube-shaped pieces. During your survey, QBob marks each cube one or more times. Once he has surveyed the entire asteroid, you may demolish it by pushing the #[a(href="#redbutton") Big Red Button]. The cube in which the button is embedded indicates the goal marking color for the survey.

+contentRow("button.png", "Big Red Button", "redbutton")
	h3 Big Red Button
	p Push this button to destroy the asteroid. It is disabled until QBob completes his survey. The button will glow brighter when it is enabled. When QBob pushes the enabled button, he will have ten seconds to evacuate the area before the explosion. No dawdling!

+contentRow("launchpad.png", "Launchpad")
	h3 Launchpad
	p This spinning platform will take QBob away from the demolition site and to the next asteroid for him to survey. The launchpad will not arrive in the area until he calls it by pushing the #[a(href="#redbutton") Big Red Button].

+contentRow("telepad.png", "Telepads", "telepads")
	h3 Telepads
	p These glowing platforms have been placed among the asteroids to help QBob move around when surveying for demolition. Telepads will teleport QBob to another telepad of a like color. To activate a telepad, jump on it and hit the "use" key ( #[kbd Spacebar] is the default).

+contentRow("shield.png", "Shield", "shield")
	h3 Shield
	p Every once in a while, a care package from QBob's employers may appear on the asteroids. When picked up, this package will give QBob a life-saving portable force field which can protect him from the dangers surrounding him. In fact, many other characters will be intimidated by the glow: try to scare them off the asteroid. Be careful, though; the energy pack for the shield doesn't last very long. Also, the shield can not help QBob if you make him fall off the asteroid! Grab this item when you see it, because it won't stay there for long!

+contentRow("silverq.png", "Silver \"Q\"")
	h3 Silver "Q" 
	p When QBob reaches certain levels of accomplishment, some unknown force sees fit to reward him with the opportunity for extended life! A mystical symbol will appear which will give QBob an extra life when collected. Grab these when you can!

	
+contentRow("paintgun.png", "Paintgun", "paintgun")
	h3 Paintgun  
	p
		strong.red (Registered version only)
		br
		| QBob can use this item to help him survey the asteroids. When the gun is fired in some direction, all the cubes along the diagonal are painted. You can draw and holster the gun by pressing the "use" key ( #[kbd Spacebar] is the default). Once QBob has drawn the gun, press the key corresponding to how you would normally jump, and QBob will fire the gun in that direction. Grab this item when you see it, because it won't stay there for long!

		
+contentRow("grenade.png", "Grenade", "grenade")
	h3 Grenade
	p
		strong.red (Registered version only)
		br
		| After picking up these, QBob will pull the pins and throw two grenades when you press the "use" key ( #[kbd Spacebar] is the default). These grenades cause a harmless explosion when they collide with aliens, but it is enough to intimidate them into leaving. Grab this item when you see it, because it won't stay there for long!	