h2.text-center.display-4.pb-5 Getting Started

p The following is a VERY no-nonsense description of game play. For more plot, pictures, and details, see the Characters and Environment sections. This page is intended to give you enough information to play the game immediately, without reading all the documentation. (After you have played the game for a while and you get to know the characters, you may enjoy reading about them, so be sure to check back here.)

p
	strong The goal of the game is to make all of the #[a(href="#cubes") cubes] on an asteroid the same color.
	|  You may have to jump on the cubes several times to get them to the goal color. 
	strong You must then jump on the flashing #[a(href="#redbutton") Big Red Button]. 
	| This will sound an alarm, and you will have approximately ten seconds to get to your rocket before the asteroid explodes. You will then attempt to complete this task on a different asteroid, except this time it will be more difficult.

p (The shareware version of the game has six such levels; the full, registered version has twenty.)

p While completing this task, various aliens will attack you or otherwise try to stop you. You must not touch these aliens unless you have a #[a(href="#shield") shield]! One character, #[a(href="#roswell") Agent Roswell Coverup], will attempt to reverse your coloring of the cubes. You may jump on him to send him away (even without the #[a(href="#shield") shield]).

p Every three levels or so, you will be shown an intermission animation. You may stop the animation prematurely by hitting the <kbd>spacebar</kbd>.

p If you choose to purchase the full version of the game, you will not need to get another copy of the game. The full version is included in the file on your computer. When you purchase the full version, we will provide you with a code to unlock the rest of the game.

+buyButton

p That's all you really need to know to get started!

p
	strong Thanks for playing QBob!
p
	strong.red.h3 &ndash; MoonRock Software