h2.text-center.display-4.pb-5 Menu Items

h3 Game

p Start a new game by choosing #[strong.red New], which lets you select the number of players for the game.

p
	em Note that you can use the keys <kbd>F1</kbd> through <kbd>F4</kbd> as a shortcut to begin a one, two, three, or four player game, respectively.

p #[strong.red Pause] (or the <kbd>Pause</kbd> key) pauses the game.

p #[strong.red End] ends the current game (or the <kbd>Esc</kbd> key).

p #[strong.red Register] allows you to unlock the full version of the game. When you purchase the full version of the game, you will be assigned a registration code. Once you select this menu item and type the registration code into a dialog box, the game will be registered and this menu item will go away.

p #[strong.red Exit] exits the game. Stop me if I'm getting too technical.

hr

h3 Options

p #[strong.red Player] brings up the player options dialog box.

p Use the tabs at the top of the dialog box to select the options pages for Player 1, 2, 3, and 4.

p On these pages, you may select the keys with which you will control the actions of QBob during the game. The arrows point in the direction of movement for each of the keys (Default keys: #[kbd Home ↖️] #[kbd PgUp ↗️] #[kbd End ↙️] #[kbd PgDn ↘️]). To change the keys, click the mouse pointer in the box corresponding to the direction desired and then hit the key you wish to use. (If you plan to use the mouse or joystick to control QBob during the game, you do not need to use these keys.)

p The action key will enable the #[a(href="#telepads") telepads] (default is #[kbd Spacebar]), so don't forget which key to "use"! (NOTE: The action key also controls firing the #[a(href="#paintgun") paintgun] and throwing #[a(href="#grenade") grenades]! #[strong Registered version only!]) If you are using the mouse, the left mouse button makes QBob jump, and the right mouse button acts as the action key.

p These pages also have options to enable and disable mouse and joystick control. Mouse and joystick support may also be toggled on or off during a game by the keystrokes #[kbd Ctrl+M] and #[kbd Ctrl+J] respectively.

p You may also toggle the appearance of mouse arrows on the screen during the game.  These arrows point in the direction QBob would jump if you were to press the left mouse button. The arrows will change orientation as you move the mouse pointer around QBob. The 'With Arrows' check box toggles this display.

p #[strong.red Sound] brings up the sound options dialog box.

p This dialog box gives you the option to enable and disable the sounds for each of the characters in the game.

p #[em Enable All Sound Effects] &mdash; This check-box allows you with one click to enable or disable ALL the bleeps and bloops and screams and explosions and oh, the humanity!!... ahem. But I digress... (NOTE: Turning off the 'Flying Sounds' may improve performance slightly on some computers, since these sounds are looped continually when characters are flying onto the screen.)

p #[em Enable Midi music] &mdash; This check-box enables or disables the background music played during the game.

p #[em Mute] &mdash; This check-box enables or disables ALL audio in the game &mdash; both sound effects and music. You may also mute the sound by pressing Ctrl-S anytime during the game.

p #[strong.red Background Anim] toggles some moving space debris in the background of the game-playing area. This option is purely for ambiance, so if the game runs a little slowly on your computer, turn this option off.

p #[strong.red Violence] toggles the display of tasteless violence that, in the tradition of many modern video games, adds "nothing" to the game play, whatsoever. We put it in anyway, though. Just in case.

p #[strong.red Full Screen] allows the game to use the entire screen rather than play in a window. NOTE: When in full screen mode, you can use the #[kbd Pause] key on your keyboard to bring up the menu at the top of the screen. This menu selection automatically switches the resolution of the game to best fit the size of your screen. (See next item)

p #[strong.red Resolution] is a popup menu that allows you to choose the resolution (window size) of the gameboard and characters.  (Especially useful for 640x480 displays.) 100% in this menu corresponds to a size of 800 x 600 pixels.

hr

h3 Difficulty

p #[strong.red Easy] sets the difficulty level of the game to its easiest setting. For example, when this item is selected, you will not be able to jump off the side of the asteroid, and the enemies will not be as smart. Be warned, though. You will get fewer points for your actions if you use this difficulty setting.

p #[strong.red Normal] sets the difficulty level of the game to the default setting. You can fall off the asteroid, but so can the enemies. 

p #[strong.red Hard] sets the difficulty level of the game to its hardest setting. This setting brings higher difficulty but also the promise of higher scores as well. Enemies will be more relentless, and will reappear much more often.

p
	em You may not change the difficulty level of the game while you are playing. You must end the current game to change the difficulty settings.

hr

h3 Levels

p #[strong.red Skip to level X] starts a new game on level X, where X is a number such as 4, 7, 13, or 16. These menu items act as milestones and allow you to play later levels in the game without having to start from the beginning each time. After every third level during the game, you are treated to an intermission, starring characters from the game. When an intermission is over, you will be able to start a new game at the following level. All of the Levels menu choices are disabled until you reach one of the levels in a game.

p
	em NOTE: You will only be able to use this menu item to jump forward to a previously reached level from another game! For example, if you are playing the game, and are on level 8, you cannot use the menu to jump backwards to levels 4 or 7. You may use the menu to jump forward to levels 13 and 16, but only if you had gotten that far in a previous game. (If this is confusing, just play the game and you'll figure out how it works...)

hr

h3 View

p #[strong.red High Scores] brings up the list of the highest scores reached while playing QBob on your computer.

p #[strong.red Demo] starts the demonstration of typical game play. It will continue until you select this menu item again or start a new game.

p #[strong.red QBob's Web Site] will launch the default web browser on your computer and open QBob's home page on the Internet at #[a(href="http://www.moonrock.com/qbob") http://www.moonrock.com/qbob]. (Assuming you have a web browser installed on your computer.) You may need to already be dialed in to your Internet service provider for this to work.

hr

h3 Help

p #[strong.red About QBob] displays the copyright information and version number of this program. If you have purchased the full version of the game, your name and registration code will also be displayed here.

p #[strong.red Instructions] displays this help file.

p #[strong.red Order Information] displays a dialog box containing information about registering your copy of QBob and obtaining the full version of the game. <!--This information is also contained in this help file.-->

+buyButton

p #[strong.red Legal Information] displays a dialog box containing a statement of the Limited Use License Agreement and the Limited Distribution License Agreement.